/* Стили для переключателей режима */
.mode-switcher {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.mode-switcher button {
    margin: 0 10px;
    padding: 10px 20px;
    border-bottom: 2px solid var(--main-color);
    cursor: pointer;
    transition: background-color 0.3s;
    color: var(--test-type-font-color);
}

.mode-switcher button:hover {
    background-color: #e0e0e0; /* Цвет фона при наведении */
}

.mode-switcher button.active {
    color: var(--main-font-color);
    border-bottom: 2px solid var(--main-font-color);
}