.authWindow {
    display: flex;
    height: 60vh; /* Занять всю высоту окна */
    width: 100%; /* Занимает всю ширину контейнера */
}

.formContainer {
    display: flex;
    flex-direction: column;
    align-items: center; /* Центрируем по горизонтали */
    justify-content: center; /* Центрируем по вертикали */
    background-color: transparent; /* Цвет фона для формы */
    width: 100%; /* Занимает 100% ширины */
    border-right: 1px solid var(--test-font-color); /* Разделительная линия */
}

.title {
    border-top: solid var(--test-font-color);
    margin-bottom: 20px;
    align-self: center;
    width: 200px;
}

.button{
    margin-top: 5px;
    border-bottom: solid var(--test-font-color);
    color: var(--test-type-font);
    transition: border-width 0.3s ease, border-color 0.3s ease; /* Плавный переход */
}

.button:hover {
    border-width: 3px; /* Увеличиваем толщину границы */
    border-color: var(--main-font-color); /* Цвет на наведении */
}

@media (min-width: 768px) {
    .button {
        width: 200px;
        height: 22px;
        line-height: 22px;
    }
}

.buttonForgot {
    margin-top: 10px;
    color: var(--test-type-font);
}