.icon-button-class {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: transform 1s ease; /* Плавный переход */
}

.rotate {
    animation: spin 1s forwards; /* Анимация вращения */
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}